# ---- Global C/C++ build options ---------------------------------------------

build --crosstool_top=@llvm_toolchain//:toolchain
build --cxxopt=-std=c++17 --host_cxxopt=-std=c++17
build --copt=-D_LIBCPP_ENABLE_NODISCARD
build --copt=-fno-omit-frame-pointer
build --copt=-fstack-protector
build --copt=-Werror --copt=-Wimplicit-fallthrough

# ----- other -----------------------------------------------------------------

### Debug symbols on OS X. ###
# From https://github.com/RobotLocomotion/drake/blob/master/tools/cc_toolchain/bazel.rc
# See https://github.com/bazelbuild/bazel/issues/2537
build:debugsymbols --copt=-g3 --copt=-fstandalone-debug --copt=-DDEBUG_SYMBOLS --copt=-glldb
build:debugsymbols --linkopt=-g3 --linkopt=-fstandalone-debug --linkopt=-DDEBUG_SYMBOLS --linkopt=-glldb
build:debugsymbols --spawn_strategy=standalone
build:debugsymbols --genrule_strategy=standalone

# TODO(jez) debug configuration
# TODO(jez) static linking configuration
# TODO(jez) release configuration
